<div class="header">
  <h1>
  	<i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="show-pin">
 <div class="col-md-6"> <p><%= "#{@pin.text}" %></p></div>
<div class="col-md-6">  <p class="med"><%= image_tag @pin.image(:medium) %></p></div>
  <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <a class="url" href="<%= "#{@pin.url}" %>" target="_blank">
      <%= "#{@pin.url}" %>
    </a>
  </p>
</div>
<br/>
<div class="col-md-10">
	<i class="fa fa-pencil-square-o" aria-hidden="true"></i><%= link_to "Edit", edit_by_name_path(@pin.slug) %>
</div>
<div class="col-md-2 back">
<a href="/"><i class="fa fa-arrow-left"></i> Back to Home</a>


</div>